:root {
  --background: #2b2b35;
  --surface: #161616;
  --area: #335;
  --font: #ffffff;
}

@font-face {
  font-family: "SF Pro Rounded Semibold";
  src: url("./fonts/SF-Pro-Rounded-Semibold.otf");
}

@font-face {
  font-family: "SF Pro";
  src: url("./fonts/SF-Pro-Text-Regular.otf");
}

@font-face {
  font-family: "SF Pro Italic";
  src: url("./fonts/SF-Pro-Text-RegularItalic.otf");
}

@font-face {
  font-family: "SF Pro Light Italic";
  src: url("./fonts/SF-Pro-Text-LightItalic.otf");
}

.App {
  text-align: center;
  font-family: "SF Pro";
}

body {
  background-color: var(--surface);
  color: var(--font);
  padding: 50px;
}

.currency-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 500px;
  background: var(--background);
  text-align: center;
  margin: 50px auto;
  border-radius: 10px;
  padding-bottom: 50px;
}

h1 {
  text-align: center;
  font-family: "SF Pro Rounded Semibold";
  margin: 50px 20px 30px 20px;
  letter-spacing: 1px;
}

.error h1 {
  text-align: center;
  font-family: "SF Pro Rounded Semibold";
  margin: 30px 20px;
  font-size: 20px;
}

input, select {
  background: none;
  border: 0;
  color: var(--font);
  font-family: "SF Pro";
}

input {
  width: 250px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  background: var(--area);
}

select{
  width: 80px;
  padding: 15px;
}

option {
  background-color: var(--area);
  font-family: "SF Pro";
}

.opsi {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.result {
  margin: 10px 5px;
  text-align: center;
  font-size: 26px;
}

.detail {
  margin-top: 10px;
  margin-bottom: 2px;
  font-family: "SF Pro Light Italic";
  text-align: center;
  font-size: 12px;
}

footer p {
  font-family: "SF Pro Italic";
  text-align: center;
  font-size: 12px;
  color: rgb(100, 100, 100);
}